.rating
  width 150px
  display flex
  border 1px solid #000
  border-radius 3px
  overflow hidden
  &__section
    flex-grow 1
    line-height 22px
    background-color #ddd
    font-size 14px
    text-align center
    cursor pointer
    &:nth-child(2)
      border-left 1px solid #000
      border-right  1px solid #000
    &:hover
      background-color #eee
