.add-comment
  width 100%
  box-sizing border-box
  margin-top 15px
  padding 10px
  border 1px solid #000
  position relative
  &__heading
    position absolute
    background-color #fff
    left 10px
    top -7px
    font-size 14px
    padding 0 3px
  &__wrapper
    max-width 500px
    width 100%
    align-items center
    display flex
    flex-wrap wrap
    &_button
      flex-direction column
      display flex
      align-items self-start
  &__title
    align-self self-start
    margin 15px 0 10px
    font-size 14px
    margin-right  auto
  &__input
    width 290px
    outline none
    &_comment
      resize none
      min-height 150px
  &__submit
    margin-top 10px
    background-color #085394
    box-sizing border-box
    padding 4px 5px
    border none
    border-radius 3px
    font-size 15px
    color #fff